<!DOCTYPE html>
<html>
<style>
    .button {
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }
    .button{background-color: #4CAF50;}
</style>

<body>
<div id="myModCit">
    <form action="/action_page.php">
        <h1>Modification Citizen</h1>

        <label for="text"><b>Amka</b></label>
        <input type="text" placeholder="Enter amka" name="amka" required>

        <button type="submit" class="button">Delete</button>
    </form>
</div>

<div id="myModEmp">
    <form action="/action_page.php">
        <h1>Modification Municipal Employee</h1>

        <label for="text"><b>Amka</b></label>
        <input type="text" placeholder="Enter amka" name="amka" required>

        <button type="submit" class="button">Delete</button>
    </form>
</div>

<div id="myModVet">
    <form action="/action_page.php">
        <h1>Modification Veterinary</h1>

        <label for="text"><b>Amka</b></label>
        <input type="text" placeholder="Enter amka" name="amka" required>

        <button type="submit" class="button">Delete</button>
    </form>
</div>

</body>
</html>