<!DOCTYPE html>
<html>
<style>
    .button {
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }
    .button{background-color: #4CAF50;}
</style>
<body>
<div class="form-popup" id="myDelCit">
    <form action="/action_page.php">
        <h1>Delete Citizen</h1>

        <label for="text"><b>Amka</b></label>
        <input type="text" placeholder="Enter amka" name="amka" required>

        <button type="submit" class="button">Delete</button>
    </form>
</div>

<div id="myDelEmp">
    <form action="/action_page.php">
        <h1>Delete Municipal Employee</h1>

        <label for="text"><b>Amka</b></label>
        <input type="text" placeholder="Enter amka" name="amka" required>

        <button type="submit" class="button">Delete</button>
    </form>
</div>

<div id="myDelVet">
    <form action="/action_page.php">
        <h1>Delete Veterinary</h1>

        <label for="text"><b>Amka</b></label>
        <input type="text" placeholder="Enter amka" name="amka" required>

        <button type="submit" class="button">Delete</button>
    </form>
</div>

</body>
</html>