<!DOCTYPE html>
<html>
<body>

<h2>Please provide pet's data</h2>

<form action="/action_page.php">
  <label for="race">Race:</label><br>
  <input type="text" id="race" name="race"><br>
  <label for="gender">Gender:</label><br>
  <input type="text" id="gender" name="gender"><br><br>
  <label for="numberOfMicrochip">Number of microchip:</label><br>
  <input type="text" id="numberOfMicrochip" name="numberOfMicrochip"><br><br>
  <label for="dateOfBirth">Date of birth:</label><br>
  <input type="text" id="dateOfBirth" name="dateOfBirth"><br><br>
  <label for="amkaOwner">Your amka:</label><br>
  <input type="text" id="amkaOwner" name="amkaOwner"><br><br>
  <input type="submit" value="Submit">
</form>

<p>If you click the "Submit" button, the form-data will be sent to a page called "/action_page.php".(Na valw ekei pou theloume na mas kateythynei)</p>

</body>
</html>